@import "../../shared/styles/variables";
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
font-family: 'RotondaC';
}
.wrapper{
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
.panel{
    margin-top: 40px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {
    width: 150px;
    height: 70px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: white;
    font-size: 15px;
    font-family: 'RotondaC';
    color: gray;
    cursor: pointer;
    &:hover{
        border-top: 5px solid $main-color;
        color: black;
        font-weight: bold;
    }
}


.active {
    color: black;
    font-weight: bolder;
    border-top: 5px solid $main-color;
    border-left: none;
    border-right: 1px solid transparent;
}
.forma{
    width: 75%;
    display: flex;
    padding: 20px 70px;
}
.userinp {
    margin-top: 10px;
    display: inline-block;
    width: 510px;
    height: 60px;
    border-radius: 8px;
    margin-right: 10px;
    border: 1px solid gray;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    font-size: 18px;

    &:focus {
        border: 2px solid $main-color;
        box-shadow: 0px 0px 3px 3px $main-color;
    }
}
.inp{
    margin-top: 20px;
    display: inline-block;
    width: 250px;
    height: 60px;
    border-radius: 8px;
    margin-right: 10px;
    border: 1px solid gray;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    font-size: 18px;

    &:focus {
        border: 2px solid $main-color;
        box-shadow: 0px 0px 3px 3px $main-color;
    }
}
.d-flex{
    display: flex;
    justify-content: space-evenly;
}
.btnAqua{
    margin-top: 20px;
    font-family: 'RotondaC';
    font-weight: bold;
    font-size: 16px;
    background-color: $main-color;
    width: 220px;
    height: 50px;
    border-radius: 9px;
}
.btnAqua2{
    margin-top: 20px;
    font-family: 'RotondaC';
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    border: 2px solid $main-color;
    width: 220px;
    height: 50px;
    border-radius: 9px;
}
.spanCatalog{
    cursor: pointer;
    color: $main-color;
    &:hover{
        text-decoration: underline;
    }
}
.spanNum{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: $main-color;
    border-radius: 10px
}