@import '../../shared/styles/variables';

.container {
    width: 100%;

    .create {
        width: 350px;
        height: 70px;
        border: 3px solid $main-color;
        background-color: $main-color;
        border-radius: 8px;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 20px;

        &:hover {
            background-color: white;
        }
    }

    .add {
        width: 60%;

        input[type=text] {
            width: 48%;
            height: 60px;
            border-radius: 8px;
            margin-right: 10px;
            border: 2px solid gray;
            padding-left: 10px;
            color: gray;
            font-size: 18px;

            &:focus {
                border: 2px solid $main-color;
                box-shadow: 0px 0px 3px 3px $main-color;
            }
        }

        .add-img {
            width: 97%;
            height: 60px;
            border-radius: 8px;
            border: 2px solid gray;
            margin-top: 20px;
            padding: 17px;
            display: flex;

            input[type=file] {
                font-size: 14px;
            }

            .wrapper {
                width: 570px;
                height: 20px;
                border-radius: 5px;

                .progress {
                    width: 0%;
                    border-radius: 5px;
                    height: 100%;
                    background-color: dodgerblue;
                }
            }
        }

        .prev-image {
            width: 360px;
            height: 100px;
            display: flex;
            margin-top: 20px;

            img {
                width: 70%;
                height: 100%;
            }

            .delete-img {
                width: 30%;
                height: 50%;
                margin-left: 20px;
            }
        }

        button {
            width: 25%;
            height: 60px;
            border-radius: 8px;
            background-color: $main-color;
            border: 3px solid $main-color;
            font-size: 18px;
            cursor: pointer;
            margin-top: 20px;

            &:hover {
                background-color: white;
            }
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;

        thead {

            tr {
                height: 70px;
            }

            th {
                text-align: left;
                border-bottom: 2px solid $main-color;
            }
        }

        tbody {

            tr {
                height: 100px;

                td {
                    border-bottom: 2px solid gray;
                }

                .number,
                .name {
                    width: 10%;
                }

                .path {
                    width: 20%;
                    line-height: 30px;
                }

                .image {
                    width: 16%;

                    img {
                        width: 65px;
                        height: 60px;
                    }
                }

                .actions {
                    width: 12%;
                    height: 100px;

                    p {
                        color: $main-color;
                        font-weight: bold;
                        margin-bottom: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    table {
        counter-reset: rowNumber;
    }

    table tbody tr {
        counter-increment: rowNumber;
    }

    table tr td:first-child::before {
        content: counter(rowNumber);
    }
}
.under:hover{
    color: aqua;
    text-decoration: underline;
}