<div class="footer">
    <div class="footer-top">
        <div class="footer-logo">
            <img src="../../../assets/images/logo.svg">
        </div>
        <div class="links">
            <a [routerLink]="[ '/actions' ]">Акції</a>
            <a [routerLink]="[ '/about-us' ]">Про нас</a>
            <a href="#">Оферта</a>
        </div>
        <p class="address"><b>Точки самовивозу</b><br>вул. Володимира Великого, 10в вул. Чорновола, 95</p>
        <p class="number"><b>Оформити замовлення</b> (097) 878 08 37</p>
        <p class="schedule"><b>Графік роботи</b><br>працюємо з 11:00 до 23:59</p>
    </div>
    <div class="footer-bottom">
        <p class="copyright">&#9400; 2023 Monosushi</p>
        <div class="payment">
            <div>
                <img src="../../../assets/images/pay-card-img-1.svg">
            </div>
            <div>
                <img src="../../../assets/images/pay-card-img-2.svg">
            </div>
            <div>
                <img src="../../../assets/images/pay-card-img-3.svg">
            </div>
        </div>
        <div class="social-net">
            <p>Слідкуйте за нами</p>
            <div>
                <img src="../../../assets/images/facebook-icon.svg">
            </div>
            <div>
                <img src="../../../assets/images/instagram-icon.svg">
            </div>
        </div>
        <p class="site-creation">Створення сайтів <b>NAVIIGNAT</b></p>
    </div>
</div>