@import '../../shared/styles/variables';

%before-after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    border-radius: 8px;
}

%flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    border-bottom: 1px solid aqua;
    font-family: "RotondaC";
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 56;

    .wrapper {
        display: flex;
        height: 100%;

        .header-logo {
            width: 220px;
            height: 100%;
            @extend %flex;
            background-color: $main-color;
            cursor: pointer;
        }

        .category-btn {
            width: 640px;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: relative;

           

            .burger-btn {
                width: 68px;
                height: 68px;
                margin-left: 30px;

                .burger {
                    width: 30px;
                    height: 35px;
                }
            }

            .modal-menu {
                position: absolute;
                width: 270px;
                height: 300px;
                border: 3px solid $main-color;
                top: 0;
                bottom: 0;
                left: 545px;
                right: 0;
                background-color: white;
                border-radius: 8px;
                z-index: 2;
                padding: 30px 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .close {
                width: 200px;
                height: 48px;
                font-size: 26px;
                @extend %flex;
                justify-content: left;
                padding-left: 20px;
                cursor: pointer;
            }

            .link {
                width: 200px;
                height: 48px;
                font-size: 14px;
                @extend %flex;
                justify-content: left;
                border-radius: 10px;
                padding-left: 20px;
                cursor: pointer;

                &:hover {
                    outline: 2px solid $main-color;
                }
            }
        }
    }

    .callback {
        width: 250px;
        height: 100%;
        @extend %flex;
        margin-left: 20px;

        .wrapper {
            display: flex;
            align-items: center;
            background-color: $main-color;
            border-radius: 8px;
            border: 2px solid $main-color;
            width: 210px;
            height: 50px;
            padding: 15px;
            cursor: pointer;

            img {
                height: 25px;
            }

            p {
                font-weight: bold;
                margin-left: 20px;
                font-size: 14px;
            }

            &:hover {
                background-color: white;
            }
        }
    }

    .contact {
        width: 210px;
        height: 100%;
        @extend %flex;
        flex-direction: column;

        .schedule {
            font-size: 13px;
        }
    }

    .user-icon {
        width: 80px;
        height: 100%;
        @extend %flex;
        cursor: pointer;

        .wrapper {
            width: 60px;
            height: 60px;
            @extend %flex;
            position: relative;
             border-radius: 8px;
            img {
                width: 30px;
            }
        }
    }

    .basket {
        width: 180px;
        height: 100%;
        @extend %flex;
        background-color: white;
        position: relative;

        .wrapper {
            @extend %flex;
            position: relative;

            img {
                width: 45px;
            }

            p {
                margin-left: 20px;
            }

            .count {
                position: absolute;
                @extend %flex;
                width: 30px;
                height: 30px;
                background-color: white;
                border-radius: 100%;
                top: 36px;
                left: 25px;
                font-size: 15px;
            }
        }
       
    }
   
}

.header-button {
    border-radius: 8px;
    transition: border-top 0.7s ease-out;
    width: 70px;
    height: 65px;
    flex-direction: column;
    @extend %flex;
    cursor: pointer;
    position: relative;
    p {
        font-weight: bold;
        font-size: 18px;
        margin-top: 5px;
    }
}

.header-button:hover {
    animation: slideIn 1s forwards;
  }
  .anim:hover {
    animation: slideIn 1s forwards;
  }
  
  @keyframes slideIn {
    20% {
      border-top: 3px solid aqua;
    }
    40% {
      border-right: 3px solid aqua;
    }
    60% {
      border-bottom: 3px solid aqua;
    }
    80% {
      border-left: 3px solid aqua;
    }
    100% {
      border: 3px solid aqua;
    }
  }
.blur{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 55;
}
.basket-container{
    width: 700px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    position: absolute;
    top: 95px;
    right: 0;
    z-index: 59;
    font-family: 'RotondaC';
}
.top-basket{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom-basket{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'RotondaC';
    padding: 0 20px;
    background-color: #b5d8f7;
    background-image: url(https://monosushi.com.ua/wp-content/themes/monosushi/img/bg-monosushi-logo.svg),
      url(https://monosushi.com.ua/wp-content/themes/monosushi/img/bg-monosushi-logo.svg);
    background-position: 0 0, 190px -52px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.suma{
    font-size: 24px;
}
.orderbtn{
    background-color: white;
    border-radius: 9px;
    font-size: 18px;
    width: 300px;
    font-family: 'RotondaC';
    font-weight: bold;
    height: 60px;
}
.orderbtn:hover{
    border: 1px solid white;
    background-color: aqua;
}
.trash{
    height: 20px;
    width: 20px;
}

.select-quantity {
    width: 10%;
    display: flex;
    border: 1px solid gray;
    border-radius: 8px;

    .plus {
        width: 30%;
        height: 100%;
        font-size: 20px;
        border-radius: 0px 8px 8px 0px;
        cursor: pointer;
        background-color: white;
        z-index: 2;

        &:hover {
            background-color: aqua;
        }
    }

    .minus {
        width: 30%;
        height: 100%;
        font-size: 20px;
        border-radius: 8px 0px 0px 8px;
        cursor: pointer;
        background-color: white;
        z-index: 2;

        &:hover {
            background-color: aqua;
        }
    }

    .count {
        width: 50%;
        height: 100%;
        font-size: 20px;
        @extend %flex;
    }
}
.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.catalogBtn{
    background-color: $main-color;
    border-radius: 9px;
    font-size: 18px;
    width: 300px;
    font-family: 'RotondaC';
    font-weight: bold;
    height: 60px;
    margin: 10px 0;
}
.catalogBtn:hover{
    border: 1px solid $main-color;
    background-color: white;
}

.basket::after{
    content: "";
    background-color: $main-color;
    bottom: 0;
    width: 160px;
    height: 95px;
    position: absolute;
    z-index: 29;
    transition: 0.7s height;
}

.basket:hover::after {
    height: 10px;
}
