<div class="header">
    <nav class="wrapper">
      <a [routerLink]="[ '' ]">
        <div class="header-logo" >
            <img src="../../../assets/images/logo.svg">
        </div>
      </a>
        <div class="category-btn">
          <a style="text-decoration: none;color: black" [routerLink]="[ '/actions' ]">
            <div class="header-button" >
                <img src="../../../assets/images/nav-img-gift.svg">
                <p>Акції</p>
            </div>
          </a>
          <a style="text-decoration: none;color: black" [routerLink]="[ '/product-category/rolls' ]">
            <div class="header-button">
                <img src="../../../assets/images/nav-img-rolls.svg">
                <p>Роли</p>
            </div>
          </a>
          <a style="text-decoration: none;color: black" [routerLink]="[ '/product-category/sets' ]">
          <div class="header-button" >
                <img src="../../../assets/images/nav-img-sets.svg">
                <p>Сети</p>
            </div>
          </a>
          <a style="text-decoration: none;color: black" [routerLink]="[ '/product-category/drinks' ]">
            <div class="header-button" >
                <img src="../../../assets/images/nav-img-drinks.svg">
                <p>Напої</p>
            </div>
          </a>
          <a style="text-decoration: none;color: black" [routerLink]="[ '/product-category/sauces' ]">
          <div class="header-button" >
                <img src="../../../assets/images/icon.svg">
                <p>Соуси</p>
            </div>
          </a>

          <div class="header-button burger-btn" (click)="showSloceMenu()">
                <img src="../../../assets/images/new_Hamburger_icon.svg.png" class="burger">
            </div>
            <div [@showCloseMenu]="status ? 'show' : 'close'" class="modal-menu">
                <div class="close" (click)="showSloceMenu()">✖</div>
              <a style="text-decoration: none;color: black" [routerLink]="[ '/dostavka-ta-oplata' ]">
              <div class="link" (click)="showSloceMenu()"><b>Доставка та
                        оплата</b></div>
              </a>
              <a style="text-decoration: none;color: black" [routerLink]="[ '/about-us' ]">
              <div class="link" (click)="showSloceMenu()"><b>Про нас</b></div>
              </a>
              <a style="text-decoration: none;color: black" [routerLink]="[ '/actions' ]">
                <div class="link" (click)="showSloceMenu()"><b>Акції</b></div>
              </a>
            </div>
        </div>
    </nav>
    <div class="callback">
        <div class="wrapper" (click)="openTelDialog()">
            <img src="../../../assets/images/phone.svg">
            <p>МИ ЗАТЕЛЕФОНУЄМО</p>
        </div>
    </div>
    <div class="contact">
        <p class="number"><b>(097) 878 08 37</b></p>
        <p class="schedule">Працюємо з <b>11:00</b> до <b>23:59</b>
        </p>
    </div>
    <ng-container *ngIf="!isLogin">
    <!-- <div class="user-icon" [routerLink]="[ '/auth' ]">
        <div class="wrapper anim">
            <img src="../../../assets/images/user.svg">
        </div>
    </div> -->
    <div class="user-icon" (click)="openLoginDialog()">
        <div class="wrapper anim">
            <img src="../../../assets/images/user.svg">
        </div>
    </div>
    </ng-container>
    <ng-container *ngIf="isLogin">
      <a style="text-decoration: none;color: black" [routerLink]="[ '/'+loginUrl ]">
    <div class="user-icon" >
        <div class="wrapper anim" style="display: flex;flex-direction: column;">
            <div>
            <img src="../../../assets/images/user.svg">
            </div>
            <h6>{{loginPage}}</h6>
        </div>
    </div>
      </a>
    </ng-container>


    <div class="basket" (click)="showBasket()">
        <div class="wrapper" >
            <img src="../../../assets/images/basket.svg" style="z-index: 50;">
            <p style="z-index: 50;"><b>{{total}}</b> грн</p>
            <div class="count" style="z-index: 50;">{{count}}</div>
        </div>
    </div>

</div>

<ng-container *ngIf="blurStatus">
<div class="blur">
    <div class="basket-container">

       <ng-container *ngIf="empty">
        <div class="empty">
                <img src="https://monosushi.com.ua/wp-content/themes/monosushi/img/icons/cart-empty-img.svg" alt="...">
                <h2>Кошик порожній</h2>
          <a style="text-decoration: none;color: black" [routerLink]="[ '' ]">
                <button class="catalogBtn" (click)="catalog()" >ПЕРЕЙТИ ДО КАТАЛОГУ</button>
          </a>
        </div>
    </ng-container>

        <ng-container *ngIf="!empty">

        <div class="top-basket"  *ngFor="let item of basket" >
            <div >
            <img [src]="item.imagePath" height="50px" alt="...">
            </div>
            <div class="name">{{item.name}}</div>
            <div class="select-quantity">
                <button class="minus" (click)="productCount(item,false)">-</button>
                <input type="text" name="num" disabled style="background-color: white;" class="count" [value]="item.count">
                <button class="plus" (click)="productCount(item,true)">+</button>
            </div>
            <div class="sum"><b>{{item.price * item.count}}</b> грн</div>
            <div class="trash" (click)="localDelete(item)">
                <img src="../../../assets/images/trash.svg" alt="">
            </div>
        </div>
    </ng-container>


        <div class="bottom-basket" >
            <div class="suma">
                Сума: <b>{{total}}</b> грн
            </div>
            <div>
                <button class="orderbtn">ОФОРМИТИ ЗАМОВЛЕННЯ</button>
            </div>
        </div>
    </div>
    </div>
</ng-container>
