@import '../../../shared/styles/variables';

.wrapper {
    width: 400px;
    height: 100px;
    margin: 90px auto;

    div {
        height: 10px;
        background-color: $main-color;
        border-radius: 10px;
    }

    p {
        width: 400px;
        font-size: 50px;
        font-weight: bolder;
        text-align: center;
    }
}