<div class="container">
    <div class="wrapper">
        <div></div>
        <p>Доставка та оплата</p>
    </div>
    <div class="zones">
        <div class="green-zone">
            <img src="../../../assets/images/mn-delivery-img.svg">
            <div class="description">
                <p class="title"><b>Зелена зона</b></p>
                <p>В межах зеленої зони ми доставляємо протягом <span><b>1 год.</b></span></p>
                <p>Мінімальна сума замовлення в цю зону становить <span><b>300 грн.</b></span></p>
            </div>
        </div>
        <div class="yellow-zone">
            <img src="../../../assets/images/mn-delivery-img.svg">
            <div class="description">
                <p class="title"><b>Жовта зона</b></p>
                <p>В межах зеленої зони ми доставляємо протягом <span><b>1,5 год.</b></span></p>
                <p>Мінімальна сума замовлення в цю зону становить <span><b>400 грн.</b></span></p>
            </div>
        </div>
    </div>
    <iframe class="map"
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d41144.47746395593!2d23.953242173051798!3d49.87007577614264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1678726433029!5m2!1suk!2sua"
    width="1000"
    height="650"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
    <p class="text">Команда «Monosushi» пропонує надзвичайно зручну систему доставки та оплати. Чіткість наших
        стандартів роботи
        забезпечує швидке і якісне виконання замовлень для наших гостей.</p>
    <p class="text">Ми поділили Львів на умовні зони доставки – зелену та жовту. Для кожної зони ми чітко визначаємо час
        доставки.
        Зелена зона доставки знаходиться ближче до нашої кухні, тому замовлення в цю зону доставляються – до 1 год.
        В жовту зону, яка знаходиться значно далі – до 1,5 год.
    </p>
    <div class="payment">
        <p class="title"><b>Оплата</b></p>
        <div class="options">
            <div class="cash">
                <div class="img">
                    <img src="../../../assets/images/pay-info-img-3.svg">
                </div>
                <div class="description">
                    <p><b>Оплата готівкою</b></p>
                    <p>Розраховуйтесь за свої улюблені сушики готівкою при отриманні.</p>
                </div>
            </div>
            <div class="non-cash">
                <div class="img">
                    <img src="../../../assets/images/pay-info-img-1.svg">
                </div>
                <div class="description">
                    <p><b>Безготівкова оплата</b></p>
                    <p>Розраховуйтесь за свої улюблені сушики онлайн або карткою при отриманні.</p>
                </div>
            </div>
        </div>
    </div>
    <p class="text">Ми пропонуємо Вам 3 найпоширеніші варіанти для розрахунку: готівка, оплата онлайн або ж розрахунок
        карткою.</p>
    <p class="text">Просто позначте найбільш зручний для Вас спосіб оплати при оформленні замовлення на сайті або ж
        повідомте про це оператора по телефону.</p>
    <p class="text">Доставка «Моносуші» – це чіткі стандарти роботи, високий рівень сервісу та турбота про кожного
        гостя. Ми щодня розвиваємось, щоб почути лише три слова «Моносуші – це любов».</p>
</div>