@import "ngx-toastr/toastr";
@import "app/shared/styles/theme-material";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  border: none;
  outline: none;
}
body{
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: aqua;
  border: 1px solid gray;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:vertical {
  height: 10px;
}


